@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

:root {
  --color-bg: #eef0f1;
  --color-text: #000000;
  --color-blue: #686868;
  --color-lightblue: #9de8f5;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #8e9fae;
  --color-mediumblue: rgb(255, 255, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  height: 100px;
  width: 100%;
  background: var(--color-mediumblue);
  color: var(--colors-text);
  position: fixed;
  top: 0;
  font-weight: bold;
  border-bottom: 1px solid var(--color-text);
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar li {
  border-radius: 50%;
}

.btn,
.navbar button {
  background-color: var(--color-text);
  border: none;
  color: var(--color-bg);
  padding: 1rem 2rem;
  display: flex;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
  transition: 0.5s;
}
.navbar .btn-logo {
  background-color: rgb(34, 123, 165);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 20px;
  padding: 1rem 1rem;
  margin-left: 5px;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
}
.btn:hover,
.btn-logo:hover {
  background-color: rgb(246, 246, 246);
  color: rgb(0, 0, 0);
  border-radius: 24px;
}
.btn-fav {
  background-color: #eef0f1;
  transition: 1s;
  font-family: "Zen Kurenaido", sans-serif;
  min-width: 74px;
  font-size: 16px;
  font-weight: bold;
}
.btn-fav:hover {
  background-color: #f5ff2d;
}

.btn-check-wheter {
  color: #000000;
  background-color: #2dabff;
  cursor: pointer;
  transition: 1s;
}

.btn-check-wheter:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}
.btn-convert {
  background-color: #eef0f1;
  transition: 1s;
  cursor: pointer;
  max-width: 60px;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.btn-convert:hover {
  background-color: #f5ff2d;
}
@media only screen and (max-width: 640px) {
  .home {
    display: grid;
  }
  button {
    padding: 0.6rem 1rem;
    font-size: 0.5rem;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
  }
  .btn,
  button {
    font-size: 18px;
    padding: 0.2rem 0.2rem;
  }
  .navbar .btn-logo {
    display: none;
  }
  .btn-convert {
    max-width: 70px;
  }
}

@media only screen and (max-width: 1500px) {
  .wheter-card {
    border: none;
  }
}

/*Home */
.home {
  margin: 10rem auto;
}

.cities-input {
  width: 300px;
  display: flex;
  margin: auto;
}

/*Wheter */
.wheter-card {
  border: 1px solid rgb(9, 9, 9);
  text-align: center;
  width: 70%;
  height: 420px;
  margin: auto;
  font-family: forma-djr-banner, sans-serif;
  font-weight: 600;
  font-style: normal;
  position: relative;
  top: 6px;
  background-color: #9de8f5;
}

.wheter-gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wheter {
  border: 1px solid rgb(9, 9, 9);
  width: 150px;
  text-align: center;
  font-size: 14px;
  margin: 2px;
}
.wheter-cityname-and-btn {
  display: flex;
  justify-content: space-between;
}
.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-btn {
  height: 24px;
  width: 300px;
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  background-color: #9de8f5;
  cursor: pointer;
}

.div-options {
  border: 0.5px solid rgb(129, 128, 128);
  position: absolute;
  top: 205px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .wheter-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wheter-card {
    border: none;
  }

  .wheter-cityname-and-btn {
    flex-direction: column;
  }
  .favorites {
    flex-direction: column;
    align-items: center;
  }
}

option {
  width: 300px;
  font-size: 12px;
  transition: 0.5s;
  text-align: center;
}
.loading {
  margin: 20px;
}

option:hover {
  background-color: rgb(118, 226, 238);
}

/*Favorites */
.favorites {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav {
  border: 1px solid rgb(9, 9, 9);
  width: 150px;
  text-align: center;
  font-size: 14px;
  margin: 2px;
  background-image: url(./assets/bg/landscape.png);
}
